body {
    background: #ffffff;
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    width: 100%;
    display: flex;
    background: whitesmoke;
}

.navbar-brand {
    display: flex;
    align-items: center;
    padding: 11px;
    gap: 5px;
}

.navbar-logo {
    width: 35px;
    height: 35px;
}

.brand-name {
    font-size: 15px;
    margin: 0;
}

.side-bar {
    width: 30px;
    background: whitesmoke;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: fixed;
    height: 100%;
}

.side-bar-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.sidebar-icons:hover{
    color: gray;
    opacity: 1;
}

.sidebar-icons {
    width: 20px;
    height: 20px;
    cursor: pointer;
    /* border-radius: 50px; */
}
.main-box{
   width: 100%;
   background: red;
   display: flex;
    
}
.chat-user-box{
    width: 40%;
    background: rgb(255, 255, 255);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    position: fixed;
    height: 100%;
    margin-left: 50px;
}



.chat-nav{
    width: 100%;
}
.nav-content{
    display: flex;
}
.user{
    display: flex;
    gap: 30px;
}

.chat-box{
    width: 60%;
    /* background: rgb(128, 64, 0); */
}
.all-users{  
    width: 100%; 
    overflow: auto;
}
.all-users::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.all-users {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}